* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(58, 52, 52);
  display: flex;
  flex-direction: column;
}
main {
  align-items: center;
  text-align: center;
}
footer {
  margin-top: auto;
  color: rgb(217, 236, 13);
}
h1 {
  margin-top: 24%;
  color: rgb(217, 236, 13);
}
input {
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 1rem;
  cursor: pointer;
}
