<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/index.css">
</head>

<body>
  <main>
    <% if (locals.data) { %>
    <h1><%= data %></h1>
    <% } else { %>
    <h1>Welcome to the Band Generator 👇</h1>
    <% } %>
    <form action="generate" method="post">
      <input type="submit" value="Generate Name">
    </form>
  </main>

  <%- include("partials/footer.ejs") %>
</body>


</html>